.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: #0f172a;
}


.dashboard-main {
  flex: 1;
  padding: 35px;
  overflow-x: hidden;
}


/* Заголовок */

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}


.dashboard-header h1 {
  font-size: 42px;
  color: white;
}


/* Картки */

.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 35px;
}


.stat-card {
  background: #18233d;
  padding: 25px;
  border-radius: 20px;
  min-height: 170px;
}


.stat-card h3 {
  color: #5b7cff;
  font-size: 22px;
}


.stat-card h2 {
  color: white;
  font-size: 38px;
  margin: 20px 0;
}


.stat-card p {
  color: #94a3b8;
}


/* Графік */

.chart-box {

  background: #18233d;

  padding: 30px;

  border-radius: 25px;

  width: 100%;

  box-sizing: border-box;

}


.chart-box h2 {

color:white;

font-size:28px;

margin-bottom:20px;

}



@media(max-width:1200px){

.stats-container{

grid-template-columns: repeat(2,1fr);

}

}



@media(max-width:700px){

.stats-container{

grid-template-columns:1fr;

}

}