.orders-box {
  margin-top: 30px;
  background: #1e293b;
  padding: 25px;
  border-radius: 16px;
}

.orders-box h2 {
  color: white;
  margin-bottom: 20px;
}

.orders-box table {
  width: 100%;
  border-collapse: collapse;
}

.orders-box th,
.orders-box td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #334155;
}

.orders-box th {
  color: #94a3b8;
}

.orders-box td {
  color: white;
}